/* General Tags */
* {
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:hover, button:hover {
  filter: brightness(80%);
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

button {
  background-color: dodgerblue;
  border-color: transparent;
  border-radius: 25px;
  font-size: 25px;
}

button a {
  color: white;
  margin: 20px;
}

ul li button {
  margin: 5px;
}

/* General Classes */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.horizontal li {
  display: inline;
}

.link:link {
  color: dodgerblue;
}

.navbar-spacing li {
  margin-right: 50px;;
}

.no-margin {
  margin: 0;
}

.normal-weight {
  font-weight: normal;
}

.section-underline {
  border-bottom: 1px dotted black;
  width: 100%;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

.wrapper { 
  padding: 25px;
}

/* Header */
header {
  background-color: dodgerblue;
  height: 50px;
}

header nav ul li a {
  color: white;
  font-size: 20px;
}

/* Footer */
footer {
  background-color: gray;
  height: 50px;
}

footer nav ul li a {
  color: gold;
  font-size: 25px;
}

/* Home */
#home-img {
  width: 50%;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 1128px) {
  #home-text h1 {
    font-size: 24px;
  }
  button {
    font-size: 22px;
  }
}

@media only screen and (min-width: 872px) {
  #home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #home-img {
    width: 60%;
  }
}

/* Resume */
#resume h1, #resume h2, #resume h4  {
  font-weight: normal;
}

#resume h4 {
  font-style: italic;
}